@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: monospace;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-off-white: #fcf9f5;
  --color-light-beige: #f0dec4;
  --color-pure-brown: #6f6258;
  --color-dark-brown: #6a5e54;
  --color-border-brown: #4e453d;
}
